@import url('../../App.css');

.nav{
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    background: rgb(143, 143, 255);
    gap: 10px;
}
.nav li{
    cursor: pointer;
}

.nav-logo img{
    width: 130px;
}