.container{
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 2rem;
}

.form-control{
    width: 100%;
    display: flex;
    gap: 1rem;
}
.form-left , .form-right{
    margin: 1rem 0;
    padding: 1rem;
    background: white;
    width: 50%;
    border-radius: 10px;
}

.form-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 1rem 0;
}
.form-input input,.form-input select{
    height: 30px;
    border: 1px solid var(--INPUT);
    border-radius: 5px;
    padding: 5px;
}
.form-input input:focus,.form-input select:focus,textarea:focus{
    outline: none;
}

.form-input textarea{
    border: 1px solid var(--INPUT);
    border-radius: 5px;
    padding: 5px;
    max-width: 100%;
}

.form-input input[type='radio']{
    margin-right: 5px;
}
.type-radio,.type-radio div{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.form-control label span{
    color: red;
}


#image{
    display: none;
}

.upload-img{
    cursor: pointer;
    border: 1px solid var(--INPUT);
    border-radius: 10px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    span{
        color: var(--BLUE) !important;
    }
}

/* CHECKBOX */
.checkbox{
    display: flex;
    gap: 10px;

    div{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
    }
}

/* FORM BUTTON */
.form-button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form-button button{
    all: unset;
    color: white;
    padding: 10px;
    background: var(--BLUE);
    border-radius: 10px;
    cursor: pointer;
}


.error-msg{
    color: #ED4337;
}

.error{
    border: 1px solid #ED4337 !important;
}