
.product-table{
    margin: 1rem 0;
    
    overflow-x: auto;
    
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    max-height: 500px;
}
/*  
.sticky-box{
    position: sticky;
    top: 0;
    overflow-x: auto;
    scrollbar-width: none;

    ul{
        display: flex;
        justify-content: space-between;
        min-width: 2000px;
        border-radius: 10px;

        li{
            padding: 12px;
            width: 200px;
        }
    }
}  */



.product-table ul{
    display: flex;
    justify-content: space-between;
    min-width: 2000px;
    border-radius: 10px;
    
}

.product-table ul li{
    padding: 12px;
    width: 200px;
}
.product-table-title{
    font-weight: 600;
    background-color: var(--bluish-gray-300);
    margin-bottom: 1rem;
}
.product-table-title li{
    cursor: pointer;
}
.product-table-title{
    position: sticky;
    top: 0;
    z-index: 999;
}



/* PRODUCT ITEM STYLES */
.product-table-item:hover{
    background-color: var(--bluish-gray-200);
}
.product-table-item li{
    cursor: pointer;
}
.product-action{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.product-action i:hover{
    cursor: pointer;
}
.product-action i{
    color: rgb(173, 173, 166);
}
.product-action div:last-child i{
    color: rgb(173, 173, 166);
}