@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Geist:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Geist:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --ui-black :#263238;
    --bluish-gray-200:#e2e8f0;
    --bluish-gray-300:#cbd5e1;
    --blue-300:#93c5fd;
    --blue-200:#bfdbfe;
    --INPUT :#ecf0f4;
    --font-grey:#95989d;
    --BLUE:#2275fc;
    --error :#ED4337;

}

ul{
    list-style: none;
}

body{
    background-color:var(--bluish-gray-200) ;
    font-family: "Geist","Poppins",sans-serif;
}
a{
    all: unset;
}